/* --< lasr >-- */
/* --< mobile >-- */
@media screen and (max-width: 1100px) {
    #lasr .text {
        order: -1;
    }
}

/* --< index >-- */
#lasr .index__page #container,
#lasr .index__page #content {
    margin-top: -2%;
}

#lasr .index__page .portal-container {
    flex-flow: row nowrap;
}

#lasr .index__page .portal-wrap .nft {
    width: 350px;
    transition: width .3s ease-out, transform .6s ease-out;
}

#lasr .index__page .portal-wrap:hover .nft {
    width: 400px;
    max-width: 400px;
    transform: scale(1.1);
}

#lasr .index__page span.portal {
    font-size: 1.2em;
    letter-spacing: 1px;
}

strong.buds {
    color: #f6ff9b !important;
}

strong.astronauts {
    color: #96fffb !important;
}

/* --< index >-- */
#lasr .index__page h1 {
    background: linear-gradient(#212, #336 10%, #636 40%, #639 60%, #66f 80%);
    -webkit-text-stroke: 1px #669;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: pointer;
}

#lasr .index__page h1:not(:hover) {
    letter-spacing: 11px;
}

#lasr .index__page h1:hover {
    -webkit-text-stroke: 1px #66f;
}

/* --< astronauts >-- */
#astronauts h1 {
    background: linear-gradient(#fff5 0%, #b4f4eedd 10%, #3ad, #112, #3ad 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* --< buds >-- */
#buds h1.orange {
    background: linear-gradient(#102, #852 10%, #f3ad70 60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#buds h1.blue {
    background: linear-gradient(#112, #3ad 60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#buds h1.lightblue {
    color: #8994ce;
    -webkit-text-stroke: 1px #b4f4ee;
}
