/* --< transitions >-- */
.section.active#lasr p {
    animation: in-from-bottom .3s ease 1;
}

.section.active#cyberverse p,
.section.active#roadmap .move {
    animation: in-from-bottom .1s ease 1,
               fade-in .1s ease 1;
}

.section.active#roadmap .bg {
    animation: fade-in 2s ease 1;
}

.section.active#cyberverse h1,
.section.active#cyberverse h3,
.section.active#cyberverse .title,
.section.active#cyberverse .logo {
    animation: in-from-bottom .3s ease 1;
}

@keyframes fade-in {
    0% {opacity: 0;}
    30% {opacity: 0.8;}
}

@keyframes in-from-bottom {
    0% {margin-top: 200vh;}
    100% {margin-top: 0;}
}
