/* --< cards >-- */
/* --< desktop >-- */
@media screen and (min-width: 1100px) {
    .card {
        max-width: 50%;
    }

    #roadmap .card {
        min-height: 350px;
    }
}

/* --< mobile >-- */
@media screen and (max-width: 1100px) {
    #roadmap .card {
        min-height: 450px;
    }
}

.card-wrap,
.card,
.card ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    min-width: 35vw;
}

.card-wrap {
    justify-content: center;

    position: relative;
    padding: 20px 10px;
    height: 100vh;
    overflow: hidden;
}

#cyberverse .card,
#cyberverse .card * {
    filter: saturate(125%) hue-rotate(-20deg) brightness(115%) contrast(170%);
}

#roadmap .card {
    justify-content: space-between;

    width: 85vw;
    max-height: 20em;
    border-top: none;
    border-radius: 1px 1px 10px 10px;

    color: #fff;

    -webkit-backdrop-filter: invert(10%) hue-rotate(5deg) brightness(80%) saturate(120%) contrast(135%);
    backdrop-filter: invert(10%) hue-rotate(5deg) brightness(80%) saturate(120%) contrast(135%);

    contain: content;
    transition: height .2s, min-height .2s, max-height .2s;
}

#roadmap:not(.lights-out) .card {
    -webkit-backdrop-filter: invert(10%) hue-rotate(-5deg) brightness(80%) saturate(120%) contrast(135%);
    backdrop-filter: saturate(106%) brightness(80%);
}

#roadmap .card,
#roadmap .card h3 {
    border: 2px solid #b4f4ee;
}

#roadmap .card strong {
    color: #ff0;
}

.card h1 {
    width: 100%;
}

.card.locked {
    opacity: 0.5;
}

#roadmap .card article {
    margin: 0;
    padding: 20px;
    height: 100%;
    max-height: 300px;
}

.card h3 {
    margin: 0;
    padding: 8px 0 10px 0;
    width: 100%;

    text-align: center;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1vw;
    text-transform: uppercase;

    font-family: "Helvetica Neue", "Helvetica", "Arial", sans;
    color: #b6f6f0;

    border-radius: 1px 1px 0 0;
    cursor: default;
}

.card h3:hover {
    animation: glitch .8s infinite;
}

.card ul {
    justify-content: space-between;

    width: 100%;
    margin: 0;
    padding: 6px 18px;
    list-style-type: none;
}

.card p,
.card li {
    margin: 0;
    width: 100%;
    text-align: justify;
}

#gate .card p,
#cyberverse .card p,
#roadmap .card p,
#roadmap .card li {
    line-height: 1.5em;
}

#gate .card p,
#cyberverse .card p,
#roadmap .card p,
#roadmap .card li {
    font-size: 14px;
    font-family: "pixelfont", "JetBrains Mono", "Roboto Mono", "Lato",
                 "Helvetica Neue", "Helvetica", "Arial", sans;
}

#roadmap .card p,
#roadmap .card li {
    text-shadow: 1px 1px 1px #000;
    -webkit-text-stroke: 1px #b6f6f055;
}

#roadmap:not(.lights-out) .card p,
#roadmap:not(.lights-out) .card li {
    -webkit-text-stroke: 1px #36363033;
}

/* --< closed >-- */
#roadmap .card-wrap.closed .card {
    justify-content: flex-start;
    height: 60px;
    max-height: 60px;
    min-height: 0;
    border-width: 0;
    overflow: hidden;
}

#roadmap .card-wrap.closed article,
#roadmap .card-wrap.closed p,
#roadmap .card-wrap.closed .move-nav {
    height: 0;
    max-height: 0;
    min-height: 0;
    visibility: hidden;
}

.card-wrap,
.card,
.card article,
.card p {
    transition: margin .4s,
                padding .4s,
                height .1s,
                max-height .1s;
}
