/* --< cyberverse >-- */
#cyberverse #container {
    -webkit-filter: hue-rotate(20deg) saturate(180%) brightness(120%) contrast(120%);
    filter: hue-rotate(20deg) saturate(180%) brightness(120%) contrast(120%);

    position: relative;
    min-height: 100vh;
}

#cyberverse article {
    gap: 10px;
}

#cyberverse h1 {
    background: linear-gradient(2deg, #fff2 0%, #d4f4fe66 12%, #b4f4ee44 24%, rgba(156,36,106,0.6) 60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#cyberverse h3 {
    padding: .5em; /* god knows why */
    text-align: center;
    letter-spacing: .7em;
}

#cyberverse .logo {
    min-width: 18vw;
    min-height: 18vw;
    border-width: 0 9px 9px 0;
    border-radius: 50%;
    border-color: rgba(235,205,185,.8);
}
