/* --< desktop >-- */
@media screen and (min-width: 1100px) {
    h1 {
        font-size: 72px;
        font-weight: bold;
    }

    .sep {
        transition: transform .4s, max-width 10s ease-out, max-height 10s ease-out, opacity .2s;
    }

    #home .title {
        font-size: 3.5vw;
        transform: translateY(.3em);
    }

    #container {
        padding: 0 3vw;
    }

    #content {
        gap: 5vw;
        margin: 0 5vw;
        padding: 0 5vw;
    }

    #content .text {
        align-items: center;
        max-width: 60vw;
    }

    #content article {
        max-width: 42vw;
    }

    #lasr {
        --nft-size: 60vh;
        --nft-outside-size: var(--nft-size);
    }

    #lasr h3 {
        font-size: 2.5em;
    }

    #lasr .index__page .title-container {
        --title-offset: 8%;
    }

    #lasr .index__page .title-container > h3 {
        font-size: 5vw;
    }

    #lasr .index__page h1 {
        word-spacing: 26px;
    }

    #lasr .index__page .portal-container,
    #gate .portal-container {
        gap: 100px;
    }

    #lasr .index__page .portal-wrap {
        transform-style: preserve-3d;
        transform: perspective(1000px);
    }

    /* --< focus >-- */
    .focus {
        --focus-off-opacity: .5;
        pointer-events: none !important;
    }

    .focus > *:not(.focus):not(:disabled):not(.disabled) {
        pointer-events: auto;
    }

    .focus > :disabled,
    .focus > .disabled {
        pointer-events: none;
    }

    .focus:not(.space):hover > *:not(.focus__on):not(:hover),
    .focus.off > *:not(.focus__on):not(:hover) {
        opacity: var(--focus-off-opacity);
    }

    /* --< focus__clue >-- */
    .focus:hover > *:not(:hover) .focus__clue {
        display: none;
    }

    #cyber .map .card-wrap .move-nav.focus:not(.space):hover > *:not(:hover) {
        filter: invert(40%) contrast(200%);
        opacity: .3;
    }

    button.portal:not(:hover) + .portal-tag:not(:hover),
    .portal-btn-wrap:not(:hover) + .portal-tag:not(:hover) {
        opacity: 0;
    }

    button.portal:not(:hover) + .portal-tag:not(:hover) span,
    .portal-btn-wrap:not(:hover) + .portal-tag:not(:hover) span {
        display: none;
    }

    .bank {
        min-width: 22vw;
        min-height: 26vh;
        padding: 75px 2vw;
    }

    .bank.disabled:hover {
        opacity: 0.5;
    }

    .bank.disabled:hover:after {
        content: 'Please come back after the mint';
        -webkit-text-stroke: 1px #b4f4ee;
        text-shadow: 1px 1px 3px #000;
        position: absolute;
        padding: 20% 0;
        width: 100%;
        text-align: center;
        backdrop-filter: blur(1px) invert(80%);
    }

    .bank .textbox {
        min-width: 20vw;
    }

    .bank .textbox button.inset {
        padding: 6px;
    }

    .bank .note.active {
        margin: -13.5% -6%;
        padding: 5px 10px;
        border: 1px solid #fff;
    }

    .nav-container:not(.dropdown) #navbar {
        width: 100%;
    }

    .nav-container.dropdown #navbar {
        width: 270px;
    }

    #navbar .btn-container:hover {
        border: 1px solid var(--fg-blue);
        background-color: #141823;
    }

    #navbar .btn-container:not(:hover) ul > button:not(:last-of-type) {
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    #navbar .btn-container:hover ul > button:last-of-type {
        color: var(--grey);
        background-color: var(--fg-blue);
    }

    #navbar .wallet-adapter-button,
    .nav-container.dropdown #navbar button:not(.home):not(.exit) {
        display: none !important;
    }

    .icons {
        justify-content: center;
    }

    .nav-container.dropdown .icons {
        padding-right: calc(var(--bottom-bar-padding) * 1.8);
    }

    .night-mode,
    #night-mode-slider-container {
        display: flex;
        flex-flow: row nowrap;
    }

    .night-mode {
        align-items: flex-start;
        gap: 10px;
    }

    #night-mode-slider-container {
        align-items: center;
        gap: 2px;
    }

    .slider {
        -webkit-appearance: none;
        height: 6px;
        padding: 2px;
        border-radius: 5px;
        background-color: var(--bg-blue);
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s, background .2s;
        cursor: var(--pointer);
    }

    .slider:hover {
        background-color: #2d5256;
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 23px;
        height: 24px;
        border: 0;
        border-radius: 15px;
        background-color: var(--fg-blue);
        background-image: url('img/icons/contrast.svg');
        cursor: var(--pointer);
    }

    .slider::-moz-range-thumb {
        width: 23px;
        height: 24px;
        border: 0;
        border-radius: 15px;
        background-color: var(--fg-blue);
        background-image: url('img/icons/contrast.svg');
        cursor: var(--pointer);
    }

    .nft {
        width: 350px;
    }

    #lasr :not(.index__page) .zoom:hover .img,
    #lasr :not(.index__page) .zoom:hover .glitch__img .glitch__item {
        background-position: 25px 25px;
    }

    .caption {
        flex-flow: row nowrap;
        gap: 12px;
        margin: 12px 0px;
    }

    .caption .column p {
        justify-content: flex-start;
    }

    /* --< border >-- */
    .caption.border .column:nth-of-type(even) p {
        flex-direction: row-reverse;
        text-align: right;
    }

    .caption.bar:not(.border):not(.middle) .column p b:after,
    .caption.bar.border .column:nth-of-type(odd) p b:after,
    .caption.bar.middle:not(.inside) .column:nth-of-type(odd) p b:after,
    .caption.bar.middle.inside .column:nth-of-type(odd) p b:before {
        border-right: 2px solid #696969;
    }

    .caption.bar.border .column:nth-of-type(even) p b:before,
    .caption.bar.middle:not(.inside) .column:nth-of-type(even) p b:before,
    .caption.bar.middle.inside .column:nth-of-type(even) p b:after {
        border-left: 2px solid #696969;
    }

    .caption.bar:not(.border):not(.middle) .column p b:after,
    .caption.bar.border .column:nth-of-type(odd) p b:after,
    .caption.bar.middle:not(.inside) .column:nth-of-type(odd) p b:after,
    .caption.bar.middle.inside .column:nth-of-type(even) p b:after {
        margin-left: 5px;
    }

    .caption.bar.border .column:nth-of-type(even) p b:before,
    .caption.bar.middle:not(.inside) .column:nth-of-type(even) p b:before,
    .caption.bar.middle.inside .column:nth-of-type(odd) p b:before {
        margin-right: 5px;
    }

    /* --< middle >-- */
    .caption.middle .column:nth-of-type(odd) p {
        flex-direction: row-reverse;
        text-align: right;
    }

    .caption.bar.middle .column:nth-of-type(even) p b:after {
        margin-left: 5px;
    }

    /* --< middle !(inside) >-- */
    .caption.middle:not(.inside) p b,
    /* --< middle s__out >-- */
    .caption.middle.s__out p .caption__symbol {
        order: 99;
    }

    /* --< middle !(inside) >-- */
    .caption.middle:not(.inside):not(.s__out) p .caption__icon {
        order: -2;
    }

    .caption.middle:not(.inside):not(.s__out) .column:first-of-type p:first-of-type .caption__icon {
        display: none;
    }

    .caption.middle:not(.inside):not(.s__out) p .caption__symbol {
        order: -1;
    }

    /* --< middle inside >-- */
    .caption.bar.middle.inside .column:nth-of-type(odd) p b:before {
        border-right: 2px solid #696969;
    }

    .caption.bar.middle.inside .column:nth-of-type(even) p b:after {
        border-left: 2px solid #696969;
    }

    /* --< table >-- */
    .caption.table .column {
        border: 2px solid #696969;
        border-right: none;
        padding-right: 5px;
    }

    .caption.table .column + .column {
        border-right: 2px solid #696969;
        border-left: none;
    }

    .caption.table .column:nth-of-type(even):before {
        content: '';
        position: absolute;
        border-left: 5px double #696969;
        margin: -2px -8px;
        height: 100%;
    }

    /* --< pad >-- */
    .caption.bar.pad .column p b:after,
    .caption.bar.pad .column p b:before {
        margin: 0 5px;
    }

    .card-container {
        padding: 30px 40px;
    }

    #cyber #move-section-explore_index .nav-container {
        flex-flow: row nowrap;
        width: 55em;
    }

    #cyber #move-section-explore_index .nav-container button {
        padding-left: var(--btn-padding);
    }

    #cyber .map .map_index .nav-container button {
        padding: var(--btn-padding);
    }

    .move-arrow {
        --move-arrow-margin: 50px;
    }

    /* block cursor */
    #lasr .index__page .title-container > h3.cursor:after,
    #lasr .index__page .title-container > h3:last-of-type:after {
        right: -.55em;
    }

    #lasr .index__page .portal-wrap + .bg-container .bg {
        background-size: 300%;
    }

    #lasr .index__page .bud__nft.bg {
        background-position: 0 -200px;
    }

    #lasr .index__page .astronaut__nft.bg {
        background-position: -1500px -3000px;
    }

    #move-section-explore_index .explore.bg {
        background-size: 80%;
        background-position: 25vw -10vh;
    }
}
