/* --< desktop >-- */
@media screen and (min-width: 1100px) {
    h1 {
        font-size: 72px;
        font-weight: bold;
    }

    .section .title {
        font-size: 60px;
    }

    #container {
        padding: 60px;
    }

    #content {
        gap: 5vw;
        margin: 0 3vw;
    }

    #lasr .index__page h1 {
        word-spacing: 26px;
    }

    #lasr .index__page .portal-container,
    #gate .portal-container {
        gap: 100px;
    }

    #lasr .index__page .portal-wrap {
        transform-style: preserve-3d;
        transform: perspective(1000px);
    }

    button.portal:not(:hover) + .portal-tag:not(:hover),
    .portal-btn-wrap:not(:hover) + .portal-tag:not(:hover) {
        opacity: 0;
    }

    button.portal:not(:hover) + .portal-tag:not(:hover) span,
    .portal-btn-wrap:not(:hover) + .portal-tag:not(:hover) span {
        display: none;
    }

    .bank {
        min-width: 24vw;
        padding: 75px 2vw;
    }

    .bank.disabled:hover {
        opacity: 0.5;
    }

    .bank.disabled:hover:after {
        content: 'Please come back after the mint';
        -webkit-text-stroke: 1px #b4f4ee;
        text-shadow: 1px 1px 3px #000;
        position: absolute;
        padding: 20% 0;
        width: 100%;
        text-align: center;
        -webkit-backdrop-filter: blur(1px) invert(80%);
        backdrop-filter: blur(1px) invert(80%);
    }

    .bank .textbox {
        min-width: 20vw;
    }

    .bank .textbox button.inset {
        padding: 6px;
    }

    .bank .note.active {
        margin: -13.5% -6%;
        padding: 5px 10px;
        border: 1px solid #fff;
    }

    :not(.dropdown) #navbar {
        width: 100%;
    }

    .dropdown #navbar {
        width: 270px;
    }

    #navbar .wallet-adapter-button,
    .dropdown #navbar button:not(.home):not(.exit) {
        display: none !important;
    }

    .icons {
        justify-content: center;
    }

    .dropdown .icons {
        padding-right: calc(var(--bottom-bar-padding) * 1.8);
    }

    .nft {
        width: 350px;
    }

    #lasr :not(.index__page) .zoom:hover .img,
    #lasr :not(.index__page) .zoom:hover .glitch__img .glitch__item {
        width: 50vw;
        background-position: 2.5vw 5vh;
    }

    .caption {
        flex-flow: row nowrap;
        gap: 12px;
        margin: 12px 0px;
    }

    .caption .column p {
        justify-content: flex-start;
    }

    /* --< border >-- */
    .caption.border .column:nth-of-type(even) p {
        flex-direction: row-reverse;
        text-align: right;
    }

    .caption.bar:not(.border):not(.middle) .column p b:after,
    .caption.bar.border .column:nth-of-type(odd) p b:after,
    .caption.bar.middle:not(.inside) .column:nth-of-type(odd) p b:after,
    .caption.bar.middle.inside .column:nth-of-type(odd) p b:before {
        border-right: 2px solid #696969;
    }

    .caption.bar.border .column:nth-of-type(even) p b:before,
    .caption.bar.middle:not(.inside) .column:nth-of-type(even) p b:before,
    .caption.bar.middle.inside .column:nth-of-type(even) p b:after {
        border-left: 2px solid #696969;
    }

    .caption.bar:not(.border):not(.middle) .column p b:after,
    .caption.bar.border .column:nth-of-type(odd) p b:after,
    .caption.bar.middle:not(.inside) .column:nth-of-type(odd) p b:after,
    .caption.bar.middle.inside .column:nth-of-type(even) p b:after {
        margin-left: 5px;
    }

    .caption.bar.border .column:nth-of-type(even) p b:before,
    .caption.bar.middle:not(.inside) .column:nth-of-type(even) p b:before,
    .caption.bar.middle.inside .column:nth-of-type(odd) p b:before {
        margin-right: 5px;
    }

    /* --< middle >-- */
    .caption.middle .column:nth-of-type(odd) p {
        flex-direction: row-reverse;
        text-align: right;
    }

    .caption.bar.middle .column:nth-of-type(even) p b:after {
        margin-left: 5px;
    }

    /* --< middle !(inside) >-- */
    .caption.middle:not(.inside) p b,
    /* --< middle s__out >-- */
    .caption.middle.s__out p .caption__symbol {
        order: 99;
    }

    /* --< middle !(inside) >-- */
    .caption.middle:not(.inside):not(.s__out) p .caption__icon {
        order: -2;
    }

    .caption.middle:not(.inside):not(.s__out) .column:first-of-type p:first-of-type .caption__icon {
        display: none;
    }

    .caption.middle:not(.inside):not(.s__out) p .caption__symbol {
        order: -1;
    }

    /* --< middle inside >-- */
    .caption.bar.middle.inside .column:nth-of-type(odd) p b:before {
        border-right: 2px solid #696969;
    }

    .caption.bar.middle.inside .column:nth-of-type(even) p b:after {
        border-left: 2px solid #696969;
    }

    /* --< table >-- */
    .caption.table .column {
        border: 2px solid #696969;
        border-right: none;
        padding-right: 5px;
    }

    .caption.table .column + .column {
        border-right: 2px solid #696969;
        border-left: none;
    }

    .caption.table .column:nth-of-type(even):before {
        content: '';
        position: absolute;
        border-left: 5px double #696969;
        margin: -2px -8px;
        height: 100%;
    }

    /* --< pad >-- */
    .caption.bar.pad .column p b:after,
    .caption.bar.pad .column p b:before {
        margin: 0 5px;
    }

    .card-container {
        padding: 30px 40px;
    }

    .card-wrap:not(.bar) .card {
        max-width: 50%;
    }

    #cyber .map .card:not(.bar) {
        width: 500px;
    }

    .move-arrow {
        --move-arrow-margin: 50px;
    }

    #lasr .index__page .portal-wrap + .bg-container .bg {
        background-size: 300%;
    }

    #lasr .index__page .bud__nft.bg {
        background-position: 0 -200px;
    }

    #lasr .index__page .astronaut__nft.bg {
        background-position: -1500px -3000px;
    }
}
