/* --< filters >-- */
.retro {
    -webkit-filter: brightness(120%) saturate(120%) grayscale(20%) contrast(120%);
    filter: brightness(120%) saturate(120%) grayscale(20%) contrast(120%);
}

.steampunk {
    -webkit-filter: hue-rotate(-100deg) brightness(120%) saturate(120%) grayscale(20%) contrast(120%);
    filter: hue-rotate(-100deg) brightness(120%) saturate(120%) grayscale(20%) contrast(120%);
}

.vintage {
    -webkit-filter: hue-rotate(-180deg) brightness(120%) saturate(120%) grayscale(80%) contrast(120%);
    filter: hue-rotate(-180deg) brightness(120%) saturate(120%) grayscale(80%) contrast(120%);
}

.mild {
    -webkit-filter: hue-rotate(-40deg) brightness(80%) saturate(120%) grayscale(18%) contrast(80%);
    filter: hue-rotate(-40deg) brightness(80%) saturate(120%) grayscale(18%) contrast(80%);
}

.lights-out {
    -webkit-filter: brightness(90%) saturate(120%) hue-rotate(45deg) contrast(170%);
    filter: invert(10%) hue-rotate(-40deg) brightness(80%) saturate(120%) hue-rotate(45deg) contrast(140%);
}
