/* --< filters >-- */
:root {
    --retro: brightness(120%) saturate(120%) grayscale(20%) contrast(120%);
    --lights__out: invert(10%) hue-rotate(-40deg) brightness(80%) saturate(120%) hue-rotate(45deg) contrast(140%);
    --lights__on: brightness(150%) saturate(250%) contrast(150%);
}

.retro {
    -webkit-filter: var(--retro);
    filter: var(--retro);
}

.lights-out {
    -webkit-filter: var(--lights__out);
    filter: var(--lights__out);
}

.lights-on {
    background-image: radial-gradient(
        ellipse at bottom,
        #1b4755 0%,
        #090a0f 100%
    );
}

.widescreen #lasr,
.widescreen #gate,
.widescreen .text,
.widescreen .card,
.widescreen .bank,
.widescreen .caption {
    display: none !important;
}
