/* --< footer >-- */
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    z-index: 10;
    position: fixed;
    bottom: 2vh;
    left: 0;
    right: 0;
    height: 0;
    transition: top .4s, opacity .2s;
}

.section.fullscreen.active ~ #footer,
.section.fullscreen.active ~ .menu {
    display: none;
}

#footer button {
    white-space: nowrap;
}
