/* --< module icons >-- */
.arrow,
.arrow.double:after {
    display: inline-block;
    padding: 3px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
}

.arrow.logo,
.arrow.down {
    transform: rotate(45deg);
}

#navbar .arrow.logo {
    transform: rotateZ(45deg);
}

.arrow.left {
    transform: rotate(135deg);
}

.arrow.right {
    transform: rotate(-45deg);
}

.move-arrow {
    position: fixed;
    top: 46vh;
}

.move-arrow.right {
    right: 50px;
}

.move-arrow.left {
    left: 50px;
}

.move-arrow,
.arrow.nav,
.arrow.double:after {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 8px;
    border-width: 0 1px 1px 0;
    border-radius: 0;
}

.arrow.double:after {
    content: '';
    margin: 5px;
}

p .arrow:not(.nav):not(.move-arrow) {
    margin: 0 10px 0 5px;
}

p .arrow:not(.nav) {
    position: relative;
    bottom: .1em;
}

p .arrow.nav {
    position: relative;
    bottom: -0.7em;
    margin: 0 15px 0 0;
}

p .arrow.nav,
p .arrow.double:after {
    width: .6em;
    height: .6em;
    padding: 0;
}

.arrow.nav:hover {
    animation: blink 1.5s infinite .1s;
}

.arrow.logo {
    min-width: 1em;
    min-height: 1em;
    border-radius: 50%;
    border-width: 0 3px 3px 0;
}

.arrow.logo.dark {
    border: solid #000;
    border-width: 0 3px 3px 0;
}

.arrow.logo.tiny {
    border-width: 0 4px 4px 0;
    border-radius: 250%;
}

.arrow.logo.full {
    width: 80%;
    height: 80%;
    box-shadow: 0px 0px 0px 0px #fea;
    transition: width 1s, height 1s, box-shadow .3s .3s;
}

a:hover .arrow.logo.full {
    box-shadow: 0px 0px 1px 2px #edd;
}

.thin a:hover .arrow.logo.full {
    box-shadow: 0px 0px 1px 1px #edd;
}

.lasr {
    display: flex;
    justify-content: center;
    animation: rotateY 10s linear infinite;
    transition: width 3s, height 3s;
}

i.screen, .icon .screen, .icon.screen {
    border: 2px solid #b6f6f0;
    border-radius: 5px;
    margin: 0;
    padding: 0 10px;
    min-width: 25px;
    max-width: 25px;
    min-height: 25px;
    max-height: 25px;
}

i.screen:hover, .icon:hover .screen, .icon.screen:hover,
button:hover i.screen,
button:hover .icon .screen,
button:hover .icon.screen:hover {
    border-color: #2d3236;
}

/* --< hyperlink icons >-- */
.icons-wrap,
.icons {
    --icon-gap: 2vw;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--icon-gap);

    margin-top: 6px;
    margin-right: var(--icon-gap);
    flex-grow: 1;

    cursor: default;
}

.icons-wrap {
    justify-content: flex-start;
}

/* --< desktop >-- */
@media screen and (min-width: 1100px) {
    .icons {
        justify-content: center;
    }
}

/* --< mobile >-- */
@media screen and (max-width: 1100px) {
    .icons {
        margin-left: 18px;
        justify-content: flex-start;
    }
}

.icons a {
    width: 30px;
}

.icons img,
.icons i {
    box-shadow: 0px 0px 0px 0px #84a4ce;
}

.icons img {
    width: 22px;
    padding: 3px;
    border-radius: 50px;
}

.icons i {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 7px 6px;
}

.icons a:not(:hover) img,
.icons a:not(:hover) i {
    -webkit-filter: invert(80%) sepia(60%) saturate(180%) hue-rotate(126deg) brightness(95%) contrast(95%);
    filter: invert(80%) sepia(60%) saturate(180%) hue-rotate(126deg) brightness(95%) contrast(95%);
}

.icons a:hover img,
.icons a:hover i {
    -webkit-backdrop-filter: invert(80%) sepia(60%) saturate(180%) hue-rotate(126deg) brightness(95%) contrast(95%);
    backdrop-filter: invert(80%) sepia(60%) saturate(180%) hue-rotate(126deg) brightness(95%) contrast(95%);
}
