/* --< menu >-- */
.menu {
    --menu-padding: 10px;
    --menu-top: 15px;

    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;

    width: 220px;
    min-height: 220px;
    padding: var(--menu-top) var(--menu-padding);
}

.menu, .menu .sub-menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 10px;
}

#lasr:not(.active) ~ .menu .sub-menu#sub-lasr,
#gate:not(.active) ~ .menu .sub-menu#sub-gate,
#cyberverse:not(.active) ~ .menu .sub-menu#sub-cyber,
#roadmap:not(.active) ~ .menu .sub-menu#sub-roadmap {
    display: none;
}

.menu.hidden {
    left: 0;
    padding: 0;
    width: 0;
}

.menu button {
    z-index: 10;
    line-height: 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.menu .top-bar,
.menu .quicklaunch {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu .top-bar {
    gap: 10px;
}

.menu .quicklaunch {
    gap: 5px;
}

.menu .sticky,
.menu:not(.hidden) .icon {
    font-size: 18px;
}

.menu .sub-menu > button.sticky {
    min-width: 120px;
    min-height: 60px;
    padding: 15px;
    transition: background-color .2s;
}

.menu .quicklaunch button.sticky {
    position: relative;
    min-width: 60px;
    min-height: 55px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.menu button:not(:hover),
.menu button:active,
.menu button.disabled {
    color: #b6f6f0;
    border: 1px solid #b4f4ee;
}

.menu button:hover:not(.disabled):not(:active),
.menu .quicklaunch button.sticky.active {
    color: #2d3236;
    background-color: #b4f4ee;
}

/* --< mobile >-- */
@media screen and (max-width: 1100px) {
    .menu:not(.hidden) button:not(:hover),
    .menu:not(.hidden) button.disabled {
        background: #50353d;
    }
}

.menu:not(.hidden) .icon {
    height: 48px;
    min-width: 5vw;
    flex-grow: 1;
    padding: 20px;
    border-radius: 15px;
}

.menu button:not(.sticky):not(.icon) {
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
    text-align: left;
    transition: padding .2s;
}

.menu button:not(.sticky):not(.icon):not(:hover),
.menu button.disabled {
    padding: 20px 25px;
}

.menu:not(.hidden) button.active {
    background: #742d3393;
}

.menu:not(.hidden) .icon.north,
.menu .sub-menu > .sticky.active {
    top: var(--menu-top);
}

.menu:not(.hidden) .icon.west,
.menu .sub-menu > .sticky.active {
    left: 15px;
}

.menu:not(.hidden) .icon.east {
    right: 15px;
}

.menu:not(.hidden) .icon.lightbulb span {
    -webkit-filter: hue-rotate(-100deg);
    filter: hue-rotate(-100deg);
}

.menu.hidden button.index:not(.show),
.menu:not(.hidden) button.index,
.menu button.index.active ~ .quicklaunch,
.menu:not(.hidden) .quicklaunch,
.menu.hidden .icon,
.menu .sub-menu > .sticky:not(.active),
.menu.hidden button:not(.sticky),
.menu:not(.hidden) .sticky {
    display: none !important;
}

.menu button.disabled {
    color: #cccc;
    border-color: #cccc;
    cursor: default;
}
