/* --< menu >-- */
.menu {
    --menu-padding: 10px;
    --menu-top: 15px;

    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;

    width: 220px;
    min-height: 220px;
    padding: var(--menu-top) var(--menu-padding);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    gap: 10px;
}

.menu.hidden {
    left: 0;
    padding: 0;
    width: 0;
}

.menu button {
    line-height: 0;
    text-transform: uppercase;
    color: #b6f6f0;
    white-space: nowrap;
}

.menu button:not(:hover) {
    border: 1px solid #b4f4ee;
}

.menu button:hover {
    color: #2d3236;
    background-color: #b4f4ee;
}

.menu button.sticky.active,
.menu:not(.hidden) .icon {
    font-size: 18px;
}

.menu button.sticky.active {
    min-height: 60px;
    min-width: 120px;
    padding: 15px;
    transition: background-color .2s;
}

/* --< mobile >-- */
@media screen and (max-width: 1100px) {
    .menu:not(.hidden) button:not(:hover) {
        background: #2d3236;
    }
}

.menu:not(.hidden) .icon {
    height: 48px;
    min-width: 5vw;
    flex-grow: 1;
    padding: 20px;
    border-radius: 15px;
}

.menu button:not(.active):not(.icon) {
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
    text-align: left;
    transition: padding .2s;
}

.menu button:not(.active):not(.icon):not(:hover) {
    padding: 20px 25px;
}

.menu button:active,
.menu:not(.hidden) button.active {
    background: #742d3393;
}

.menu .top-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.menu.hidden .icon,
.menu button.sticky:not(.active) {
    display: none;
}

.menu:not(.hidden) .icon,
.menu button.sticky.active {
    display: block;
}

.menu:not(.hidden) .icon.north,
.menu button.sticky.active {
    top: var(--menu-top);
}

.menu:not(.hidden) .icon.west,
.menu button.sticky.active {
    left: 15px;
}

.menu:not(.hidden) .icon.east {
    right: 15px;
}

.menu:not(.hidden) .icon.lightbulb span {
    -webkit-filter: hue-rotate(-100deg);
    filter: hue-rotate(-100deg);
}

.menu.hidden button:not(.sticky) {
    display: none;
}

.menu:not(.hidden) button.sticky {
    display: none;
}
