/* --< mobile >-- */
@media screen and (max-width: 1100px) {
    /* horizontal */
    @media screen and (orientation: landscape) {
        .section .title {
            font-size: 10vw;
        }
    }

    /* vertical */
    @media screen and (orientation: portrait) {
        .section .title {
            font-size: 50px;
        }
    }

    h1 {
        margin: 0;
        font-size: 10vw;
        font-weight: bold;
    }

    #container {
        margin: 80px 0px;
        padding: 60px 0 90px 0;
    }

    #content {
        flex-flow: column nowrap;
        margin: 0;
    }

    .text article {
        max-width: 100vw;
    }

    #home .title {
        transform: translateY(-.8em);
    }

    #lasr .text {
        order: -1;
    }

    #lasr .index__page .nft .img.bud,
    #lasr .index__page .nft.img.bud,
    #lasr .index__page .glitch__img.bud .glitch__item {
        background-position: -35px 0;
    }

    #lasr .index__page h1 {
        word-spacing: -6px;
    }

    #lasr .index__page .portal-container {
        width: 85vw;
    }

    #lasr .index__page .portal {
        width: 50vw;
        overflow: hidden;
    }

    #gate .portal-container {
        gap: 20px;
        flex-flow: column nowrap;
    }

    .portal-wrap {
        transform: perspective(0) !important;
    }

    #lasr button.portal:not(:hover) + .portal-tag:not(:hover),
    #lasr .portal-btn-wrap:not(:hover) + .portal-tag:not(:hover) {
        opacity: 0;
    }

    #lasr button.portal:not(:hover) + .portal-tag:not(:hover) span,
    #lasr .portal-btn-wrap:not(:hover) + .portal-tag:not(:hover) span {
        display: none;
    }

    #gate .portal-container {
        flex-flow: column nowrap;
        align-items: center !important;
    }

    .bank {
        min-width: 35vw;
        padding: 55px 25px;
    }

    .bank.disabled {
        opacity: 0.5;
    }

    .bank.disabled:after {
        content: 'Please come back after the mint';
        -webkit-text-stroke: 1px #b4f4ee;
        text-shadow: 1px 1px 3px #000;
        position: absolute;
        padding: 20% 0;
        width: 100%;
        text-align: center;
        -webkit-backdrop-filter: blur(1px) invert(80%);
        backdrop-filter: blur(1px) invert(80%);
    }

    .bank .textbox button.inset {
        padding: 5px;
    }

    .bank .note.active {
        margin: -10% 0%;
        padding: 5px;
        text-decoration: underline;
    }

    #cyber h3 {
        font-size: 6vw;
    }

    #nav-container.dropdown {
        pointer-events: auto !important;
    }

    .dropdown #navbar {
        width: 80%;
    }

    *:not(.dropdown) #navbar *:not(:first-child) {
        display: none;
    }

    .dropdown #navbar *:not(:first-child) {
        display: block;
    }

    .dropdown .icons {
        padding-right: calc(var(--bottom-bar-padding) * 1.3);
    }

    .dropdown *:not(#navbar) .wallet-adapter-button,
    *:not(.dropdown) #navbar .wallet-adapter-button {
        display: none !important;
    }

    .dropdown #navbar .wallet-adapter-button {
        display: block !important;
    }

    .nft {
        order: 1;
        position: relative;
        top: 5px;
        max-width: 80vw;
        max-height: 80vh;
    }

    .caption {
        order: 2;
        flex-flow: row wrap;
    }

    .caption .column p {
        justify-content: center;
        text-align: center;
    }

    .caption.bar .column p b:after {
        border-right: 2px solid #696969;
        margin-left: 5px;
    }

    #lasr .index__page .bud__nft.bg {
        background-position: 0 -2000px;
        background-size: 750%;
    }

    #lasr .index__page .astronaut__nft.bg {
        background-position: -500px 0;
        background-size: 300%;
    }

    #cyber .buds.bg {
        background-position: -500px 0;
    }

    .card-container {
        padding: 15px;
    }

    #cyber .map .card-wrap.center .card.nav article .nav-container {
        flex-flow: column nowrap;
    }

    @media screen and (max-width: 600px) {
        #cyber #move-section-explore_index .nav-container button {
            min-width: 90vw;
        }
    }

    @media screen and (min-width: 600px) {
        #cyber #move-section-explore_index .nav-container button {
            min-width: 500px;
        }
    }

    .move-arrow {
        --move-arrow-margin: 20px;
    }

    .menu:not(.hidden) button:not(:hover),
    .menu:not(.hidden) button.disabled {
        background: #1a191ccd;
    }
}
