/* --< mobile >-- */
@media screen and (max-width: 1100px) {
    /* horizontal */
    @media screen and (orientation: landscape) {
        .section .title {
            font-size: 10vw;
        }
    }

    /* vertical */
    @media screen and (orientation: portrait) {
        .section .title {
            font-size: 50px;
        }
    }

    h1 {
        margin: 0;
        font-size: 10vw;
        font-weight: bold;
    }

    #container {
        margin: 80px 0px;
        padding: 60px 0 90px 0;
    }

    #content {
        flex-flow: column nowrap;
        margin: 0;
    }

    .text article {
        max-width: 100vw;
    }

    #home .title {
        top: 48%;
    }

    #lasr .text {
        order: -1;
    }

    #lasr .index__page .portal-container {
        width: 90vw;
    }

    #lasr .index__page .portal {
        width: 50vw;
        overflow: hidden;
    }

    #lasr .index__page .nft .img.bud,
    #lasr .index__page .nft.img.bud,
    #lasr .index__page .glitch__img.bud .glitch__item {
        background-position: -35px 0;
    }

    .bank .note.active {
        margin: -10% 0%;
        padding: 5px;
        text-decoration: underline;
    }

    .bank {
        min-width: 35vw;
        padding: 55px 25px;
    }

    .bank .textbox button.inset {
        padding: 5px;
    }

    #cyberverse h3 {
        font-size: 6vw;
    }

    *:not(.dropdown) #navbar *:not(:first-child) {
        display: none;
    }

    .dropdown #navbar *:not(:first-child) {
        display: block;
    }

    .nft {
        order: 1;
        position: relative;
        top: 5px;
        max-width: 80vw;
        max-height: 80vh;
    }

    .caption {
        order: 2;
    }

    .caption .column p {
        justify-content: center;
        text-align: center;
    }

    .caption.bar .column p b:after {
        border-right: 2px solid #696969;
        margin-left: 5px;
    }

    #roadmap .card {
        min-height: 450px;
    }

    .move-arrow {
        --move-arrow-margin: 20px;
    }

    .menu:not(.hidden) button:not(:hover),
    .menu:not(.hidden) button.disabled {
        background: #1a191ccd;
    }
}
