/* --< move >-- */
.move-section .card-wrap:not(.active),
.move-section:not(.active) {
    display: none;
}

.move .move-nav {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#roadmap .move .card article {
    padding-bottom: 50px;
}

/* --< move-arrow >-- */
.move-arrow {
    position: fixed;
    top: 46vh;
}

/* --< desktop >-- */
@media screen and (min-width: 1100px) {
    .move-arrow {
        --move-arrow-margin: 50px;
    }
}

/* --< mobile >-- */
@media screen and (max-width: 1100px) {
    .move-arrow {
        --move-arrow-margin: 20px;
    }
}

.move-arrow.right {
    right: var(--move-arrow-margin);
}

.move-arrow.left {
    left: var(--move-arrow-margin);
}
