/* --< nft >-- */
.nft, .caption {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.nft {
    flex-flow: column nowrap;
    gap: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word; /* backward compatibility */
}

/* --< caption >-- */
.caption {
    position: relative;
    width: calc(100% + 50px);
}

.caption,
.caption .column,
.caption .column p {
    justify-content: center;
    width: 100%;
    min-width: min-content;
    margin: 0;
    padding: 0;
    color: #fefe;
    white-space: nowrap;
}

.caption .column {
    flex-flow: column wrap;
    gap: 5px;
    top: 0;
    max-width: 50%;
}

.caption .column p {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px;
}

.caption.center .column {
    align-items: center;
}

.caption.center .column p {
    justify-content: center;
}

.caption.bar .column p b:after,
.caption.bar .column p b:before {
    content: '';
    display: inline-block;
    position: relative;
    top: 2px;
    height: 16px;
}

.caption.colon .column p b:after {
    content: ':';
}

/* --< desktop >-- */
@media screen and (min-width: 1100px) {
    img, .nft {
        width: 350px;
    }

    .caption {
        flex-flow: row nowrap;
        gap: 12px;
        margin: 12px 0px;
    }

    .caption .column p {
        justify-content: flex-start;
    }

    /* --< border >-- */
    .caption.border .column:nth-of-type(even) p {
        flex-direction: row-reverse;
        text-align: right;
    }

    .caption.bar:not(.border):not(.middle) .column p b:after,
    .caption.bar.border .column:nth-of-type(odd) p b:after,
    .caption.bar.middle:not(.inside) .column:nth-of-type(odd) p b:after,
    .caption.bar.middle.inside .column:nth-of-type(odd) p b:before {
        border-right: 2px solid #696969;
    }

    .caption.bar.border .column:nth-of-type(even) p b:before,
    .caption.bar.middle:not(.inside) .column:nth-of-type(even) p b:before,
    .caption.bar.middle.inside .column:nth-of-type(even) p b:after {
        border-left: 2px solid #696969;
    }

    .caption.bar:not(.border):not(.middle) .column p b:after,
    .caption.bar.border .column:nth-of-type(odd) p b:after,
    .caption.bar.middle:not(.inside) .column:nth-of-type(odd) p b:after,
    .caption.bar.middle.inside .column:nth-of-type(even) p b:after {
        margin-left: 5px;
    }

    .caption.bar.border .column:nth-of-type(even) p b:before,
    .caption.bar.middle:not(.inside) .column:nth-of-type(even) p b:before,
    .caption.bar.middle.inside .column:nth-of-type(odd) p b:before {
        margin-right: 5px;
    }

    /* --< middle >-- */
    .caption.middle .column:nth-of-type(odd) p {
        flex-direction: row-reverse;
        text-align: right;
    }

    .caption.bar.middle .column:nth-of-type(even) p b:after {
        margin-left: 5px;
    }

    /* --< middle !(inside) >-- */
    .caption.middle:not(.inside) p b,
    /* --< middle s__out >-- */
    .caption.middle.s__out p .caption__symbol {
        order: 99;
    }

    /* --< middle !(inside) >-- */
    .caption.middle:not(.inside):not(.s__out) p .caption__icon {
        order: -2;
    }

    .caption.middle:not(.inside):not(.s__out) .column:first-of-type p:first-of-type .caption__icon {
        display: none;
    }

    .caption.middle:not(.inside):not(.s__out) p .caption__symbol {
        order: -1;
    }

    /* --< middle inside >-- */
    .caption.bar.middle.inside .column:nth-of-type(odd) p b:before {
        border-right: 2px solid #696969;
    }

    .caption.bar.middle.inside .column:nth-of-type(even) p b:after {
        border-left: 2px solid #696969;
    }

    /* --< table >-- */
    .caption.table .column {
        border: 2px solid #696969;
        border-right: none;
        padding-right: 5px;
    }

    .caption.table .column + .column {
        border-right: 2px solid #696969;
        border-left: none;
    }

    .caption.table .column:nth-of-type(even):before {
        content: '';
        position: absolute;
        border-left: 5px double #696969;
        margin: -2px -8px;
        height: 100%;
    }

    /* --< pad >-- */
    .caption.bar.pad .column p b:after,
    .caption.bar.pad .column p b:before {
        margin: 0 5px;
    }
}

/* --< mobile >-- */
@media screen and (max-width: 1100px) {
    img, .nft {
        order: 1;
        position: relative;
        top: 5px;
        max-width: 80vw;
        max-height: 80vh;
    }

    .caption {
        order: 2;
    }

    .caption .column p {
        justify-content: center;
        text-align: center;
    }

    .caption.bar .column p b:after {
        border-right: 2px solid #696969;
        margin-left: 5px;
    }
}

.caption.no-icons .caption__icon {
    display: none;
}
