/* --< roadmap >-- */
#roadmap {
    z-index: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
}

#roadmap strong {
    color: #942d33;
}

#roadmap #container,
#roadmap #content {
    padding: 0;
    margin: 0;
}

#roadmap #content {
    justify-content: space-evenly;

    height: 100%;
    width: 100%;
    box-sizing: border-box;

    border-radius: 2px;
    overflow: hidden;
}

/* --< map-mover >-- */

#roadmap .bg {
    width: 150%;
    background-size: cover;
    background-position: 0 25%;
    background-repeat: no-repeat;
}

.world.bg {
    background-position: -250px 50% !important;
    background-image: url("./img/roadmap/world.jpg");
}

.vision.bg {
    background-position: -250px 75% !important;
    background-image: url("./img/roadmap/vision.jpg");
}

.path.bg {
    background-image: url("./img/roadmap/path.jpg");
}

main.widescreen #roadmap .card-wrap {
    margin-top: 200vh;
    transition: margin-top .8s;
}
