/* style */

@import url('https://fonts.googleapis.com/css2?family=Gill+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html {
    scroll-behavior: smooth;
}

body {
    --bg: #2d3236;
    background-color: var(--bg);
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
    font-size: 17px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* full-width, no margin */
html, body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    display: inline-block;
    letter-spacing: 10px;
    color: #fff;
    -webkit-text-stroke: 1px #fff;
    cursor: default;
}

p {
    font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

input[type=text],
input[type=number],
input[type=button],
input[type=submit],
input[type=reset],
button {
    background-color: transparent;
    color: #fff;
}

input[type=text],
input[type=number] {
    border: 1px solid #fff;
}

input:not([type='button']),
input + label {
    font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

input[type=text],
input[type=number] {
    border-radius: 6px;
    transition: 300ms;
}

input[type=text]:focus,
input[type=number]:focus {
    outline: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button, input[type=button], input[type=submit], input[type=reset] {
    border: none;
    border-radius: 3px;
    padding: 16px 32px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

button.disabled:hover span {
    display: none;
}

button.disabled:hover:before {
    content: "Coming soon";
}

/* placeholders must be defined separately */
::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9ea1a2;
}

::-webkit-input-placeholder { /* Old Chrome */
    color: #9ea1a2;
}

::-moz-placeholder, /* Old Firefox */
:-ms-input-placeholder, /* Internet Explorer 10-11 */
::-ms-input-placeholder { /* Microsoft Edge */
    color: #9ea1a2;
}

/* text selection */

::selection {
    color: #212d3b;
    background-color: #a1bfde;
}

button::selection, input::selection {
    color: #212d3b;
    background-color: #a1bfde;
}

/* data title */

[data-title]:hover:after {
    display: block;
}

[data-title]:after {
    content: attr(data-title);
    position: fixed;
    padding: 0px 14px;
    border: 1px solid #fff;
    display: none;
}

/* icons */

.arrow {
    display: inline-block;
    padding: 3px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
}

.arrow.logo,
.arrow.down {
    transform: rotate(45deg);
}

.arrow.left {
    transform: rotate(135deg);
}

.arrow.right {
    transform: rotate(-45deg);
}

.arrow.logo {
    min-width: 1em;
    min-height: 1em;
    border-radius: 50%;
}

.arrow.logo.full {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px #fea;
    transition: width 10s, height 10s, box-shadow .3s .3s;
}

a:hover .arrow.logo.full {
    width: 115%;
    height: 115%;
    box-shadow: 0px 0px 1px 2px #edd;
}

.arrow.nav {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-width: 0 5px 5px 0;
}

.arrow.nav:hover {
    animation: blink 1.5s infinite .1s;
}

/* desktop */
@media screen and (min-width: 1100px) {
    h1 {
        font-size: 72px;
        font-weight: bold;
    }

    .page .title {
        font-size: 60px;
    }

    #container {
        margin: 25px 0px;
        padding: 60px;
    }

    #content .caption {
        flex-flow: row nowrap;
        align-items: flex-start;
        gap: 12px;
        margin: 12px 0px;
    }

    #content .note.active {
        margin: -14% -6%;
        padding: 5px;
        border: 1px solid #fff;
    }

    #content .bank {
        min-width: 24vw;
        padding: 75px 45px;
    }

    #content .bank .textbox input[type=text] + label,
    #content .bank .textbox input[type=number] + label {
        position: absolute;
        right: 15px;
    }

    #content .bank .textbox input[type=text] + label.inset,
    #content .bank .textbox input[type=number] + label.inset {
        position: absolute;
        right: 65px;
    }

    #content .bank .textbox button.inset {
        position: absolute;
        right: 15px;
        padding: 6px;
    }

    #content .card {
        min-width: 18vw;
        max-width: 20vw;
    }

    #content .team {
        flex-flow: row nowrap;
    }

    #content img, .nft {
        width: 350px;
    }
}

/* mobile */
@media screen and (max-width: 1100px) {
    /* horizontal */
    @media screen and (orientation: landscape) {
        .page .title {
            font-size: 10vw;
        }
    }

    /* vertical */
    @media screen and (orientation: portrait) {
        .page .title {
            font-size: 50px;
        }
    }

    h1 {
        font-size: 10vw;
        font-weight: bold;
    }

    #navbar {
        flex-direction: column;
    }

    #navbar button:not(:first-child) {
        display: none;
    }

    #navbar button.icon {
        display: block;
        font-size: 15px;
    }

    #navbar.dropdown button {
        float: none;
        display: block;
        text-align: left;
    }

    #topbar #wallet.drop {
        width: 20%;
    }

    #topbar #wallet.drop button {
        width: 100%;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    #container {
        margin: 80px 0px;
        padding: 60px 5vw;
    }

    #content {
        flex-flow: row wrap;
    }

    #content .text {
        order: -1;
    }

    #content img, .nft {
        order: 1;
        max-width: 100%;
        max-height: 100vh;
    }

    #content .caption {
        order: 2;
        flex-flow: row wrap;
        align-items: flex-start;
    }

    #content .note.active {
        margin: -10% 0%;
        padding: 5px;
        text-decoration: underline;
    }

    #content .bank {
        min-width: 35vw;
        padding: 55px 25px;
    }

    #content .bank .textbox input[type=text] + label,
    #content .bank .textbox input[type=number] + label {
        position: absolute;
        right: 65px;
    }

    #content .bank .textbox button.inset {
        position: absolute;
        right: 14px;
        padding: 5px;
    }

    #content .card {
        width: 80%;
    }

    #content .team {
        flex-flow: row wrap;
    }

    #footer {
        z-index: 5;
    }
}

/* header */

#header {
    z-index: 10;
    position: fixed;
    left: 0px;
    right: 0px;
    top: -100px;
    padding: 2vh;
    opacity: 0.8;
    background-color: #2d3236;
    transition: top .4s, opacity .4s;
}

#topbar {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin: 0px 10px;
}

#topbar button {
    display: flex;
    align-items: center;
    border: none;
    color: #b6f6f0;
    font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
    border-radius: 4px;
}

#navbar {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#navbar .icon {
    display: none;
}

#navbar button {
    padding: 0 17px;
    margin: 0 2px;
}

#navbar button {
    border: 1px solid transparent;
}

#navbar button:not([disabled]):hover {
    color: #2d3236;
    background-color: #b4f4ee;
}

#navbar button:disabled:hover {
    cursor: default;
}

#navbar button:nth-child(3):hover:after {
    width: 130px;
    transform: translate(-2.5%, 0%);
}

#wallet {
    position: absolute;
    right: 0px;
}

/* page */

.page {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    border: 1px solid #48596a10;
}

.page .title {
    display: inline-block;
    color: #fff;
    font-family: "lato", sans-serif;
    font-weight: 300;
    letter-spacing: 10px;
    cursor: default;
}

.page .title span {
    background: -webkit-linear-gradient(#fff, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 0;
    transition: all 1s;
}

.page .title span::selection {
    -webkit-text-fill-color: #fbb;
}

.page .title a {
    text-shadow: 0px 0px 25px #fec;
}

.page .title i,
.page .title .arrow {
    transition: all 1s;
}

.page .title a:hover {
    line-height: 0;
    font-size: 1.1em;
    letter-spacing: .2em;
    text-shadow: 0px 0px 7px #fec;
}

.page .title a:hover i,
.page .title a:hover .arrow,
.page a:hover .arrow.logo {
    border: solid #ffd;
    border-width: 0 4px 4px 0;
    animation: lasr-ring 1.2s ease .3s 1;
}

/* container */

.fp-bg {
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    background-size: cover;
    background-position: center 80%;
}

#container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 0;
    height: 100%;
    box-sizing: border-box;

    border-radius: 2px;
    overflow: hidden;
}

/* content */

#content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;

    margin: 0 3vw;
    padding: 0 3vw;

    overflow-wrap: break-word;
    word-wrap: break-word; /* backward compatibility */
}

#content .text {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 0 5vw;
    min-width: min-content;
    max-width: 1000px;
}

#content article {
    position: relative;
}

@media screen and (min-width: 900px) {
    #content article {
        margin: -100px;
        padding: 100px;
    }
}

@media screen and (max-width: 900px) {
    @media screen and (min-width: 400px) {
        #content article {
            margin: -10vw;
            padding: 10vw;
        }
    }

    @media screen and (max-width: 400px) {
        #content article {
            margin: -50px;
            padding: 50px;
        }
    }
}

#content strong {
    color: #96ff9b;
    font-weight: 500;
    letter-spacing: .1rem;
}

#content h1 {
    white-space: nowrap;
}

#content h4 {
    display: inline;
    text-shadow: 3px 2px 1px rgba(225,0,125,0.5);
}

#content p {
    position: relative;
    line-height: 30px;
    text-align: justify;

    overflow: hidden;
    cursor: default;
}

#content p a {
    color: #70ebde;
    font-weight: 900;
    overflow-wrap: break-word;
    word-wrap: break-word; /* backward compatibility */
}

#content a.nav {
    letter-spacing: 2px;
    line-height: 0;

    background:
        linear-gradient(
            45deg,
            #70ebde 0%,
            #70ebde 45%,

            #10203033 55%,
            #70ebde 100%
        );

    background-size: 200% 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    transition: background-position 400ms;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#content a.nav:hover {
    background-position: 0% 100%;
}

#content a.nav::selection {
    -webkit-text-fill-color: #212d3b;
}

#content a.inactive {
    color: rgba(0,120,90,1);
    cursor: default;
    transition: all .1s;
}

#content .text {
    min-width: min-content;
    max-width: 1000px;
}

#content strong {
    color: #96ff9b;
    font-weight: 500;
    letter-spacing: .1rem;
}

#content input[type=text]:not(:focus),
#content input[type=number]:not(:focus) {
    cursor: default;
}

#content label.data {
    padding: 12px;

    font-size: 16px;
    font-weight: 200;
    letter-spacing: .2rem;
    word-spacing: 10px;

    border: 1px solid #fff;
    border-radius: 5px;
}

/* nft */

.nft, .caption {
    display: flex;
    align-items: flex-start;
}

.nft {
    flex-flow: column nowrap;
    justify-content: space-evenly;
    gap: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word; /* backward compatibility */
}

.nft img, img.nft {
    border: 1px solid #3d3256;
    border-radius: 50px;
}

#content .caption,
#content .caption .column,
#content .caption .column p {
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.caption .column {
    flex-flow: column wrap;
    align-items: center;
    gap: 5px;
}

.caption .column p {
    margin: 0px;
}

/* tabs */

#tabs-container {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
}

#tabs-bar {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
}

#tabs-bar button {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 0px;
    color: #b6f6f0;
}

#tabs-bar button:first-child {
    border-radius: 5px 0px 0px 0px;
}

#tabs-bar button:last-child {
    border-radius: 0px 5px 0px 0px;
}

#tabs-bar button:not(.active) {
    border: 1px solid #fff;
}

#tabs-bar button.disabled:active {
    color: #2d3236;
    background-color: #b4f4ee;
}

.tab:not(.active) {
    display: none;
}

.tab.active {
    display: flex;
    flex-flow: column nowrap;
    gap: inherit;
    position: relative;
    top: 16px;
    padding: 0px 5px;
}

/* note */

#content .note.active {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 107%;
    height: 2em;
    font-size: .7em;
    letter-spacing: 1px;
}

.tab .note {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 1em;
}

#dep-account-note,
#dep-amount-note,
#withd-balance-note,
#withd-amount-note {
    visibility: hidden;
}

/* --< sections >-- */
/* --< home >-- */

#landing {
    z-index: -1;
    position: relative;
    width: 100%;
    height: 100%;

    background: radial-gradient(
        ellipse at bottom,
        #1b2735 0%,
        #090a0f 100%
    );
}

#landing .title {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -60px;
    padding-left: 10px;
    transition: all 1s, top .5s;
}

/* --< astronauts >-- */

#lonely-astronauts .fp-bg {
    background: linear-gradient(
        #112 70%,
        #132735 85%,
        #2d323f 95%,
        transparent
    ),
    radial-gradient(
        100% 18% at bottom,
        #334455dd 0%,
        transparent 30%
    );
}

#lonely-astronauts h1 {
    color: #3ad;
}

/* --< buds >-- */

#space-buds h1 {
    color: #ad3;
}

/* --< bank >-- */

#astrobank h1 {
    color: transparent;
    background: -webkit-linear-gradient(#fff, #38495a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#content .bank {
    position: relative;
    border: 1px solid #fff;
    border-radius: 5px;
}

#content .bank button {
    color: #b4f4ee;
    font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

#content .bank .textbox {
    display: flex;
    align-items: center;
}

#content .bank .textbox input[type=text],
#content .bank .textbox input[type=number] {
    flex-grow: 1;
    padding: 15px 85px 12px 10px;
    width: 100%;

    border-radius: 5px;
}

#content .bank .textbox input[type=text] + label,
#content .bank .textbox input[type=number] + label {
    opacity: 0.5;
    padding: 5px 5px 0px 0px;
    font-size: 17px;
    color: #fff;
}

#content .bank .textbox input[type=text]:focus + label,
#content .bank .textbox input[type=number]:focus + label {
    opacity: 1;
}

#content .bank .textbox input[type=text]:disabled,
#content .bank .textbox input[type=number]:disabled {
    background-color: rgba(130,120,100,0.5);
}

#content .bank button.submit {
    border: 1px solid #fff;
}

#content .bank button:not([disabled]).submit:active {
    color: #2d3236;
    background-color: #b4f4ee;
}

#content .bank button:disabled {
    cursor: default;
}

#content .bank button:disabled:hover span {
    display: none;
}

#content .bank button:disabled:hover:before {
    content: "You have to connect your wallet";
}

#content .bank {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

/* --< cyberverse >-- */

#cyberverse h1 {
    color: rgba(156,36,106);
}

#cyberverse .logo {
    min-width: 18vw;
    min-height: 18vw;
    border-width: 0 9px 9px 0;
    border-radius: 50%;
    border-color: rgba(235,205,185,.8);
}

/* --< roadmap >-- */

#roadmap {
    z-index: 0;
    position: relative;

    background: radial-gradient(
        ellipse at bottom,
        #0d1d31,
        #0c0d13
    );
}

#roadmap .stack span {
    display: inline-block;
    margin: 40px 0px 0px 0px;
    width: 100%;
    text-align: center;

    color: #c39;
    font-family: Arial, Lato, Helvetica, sans-serif;
    letter-spacing: .5em;

    text-shadow:
        0px 0 10px violet,
        0px 0 10px #0ff,
        0px 0 10px violet,
        0px 0 300px #0ff;
}

#content .map {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 15px;

    margin-top: 25px;
    width: 100%;
}

#content .card,
#content .card ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    text-align: center;
}

#content .card {
    position: relative;

    margin: 10px 0px;
    padding: 20px 10px;

    border-top: 2px solid #631d33;

    overflow: hidden;

    background: radial-gradient(
        ellipse at bottom,
        #0d1d31,
        #0c0d13
    );
}

#content .card.locked {
    opacity: .5;
}

#content .card h3 {
    margin: 20px 0px;
    padding-bottom: 10px;
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #631d33;
}

#content .card ul {
    margin: 0px;
    padding: 6px 18px;
    list-style-type: none;
}

#content .card p {
    margin: 0px;
    line-height: 1.5em;
}

/* --< team >-- */

#team #content h1, #team #content p {
    padding-left: 20px;
}

#content .team {
    display: flex;
    justify-content: space-evenly;
}

#content .team .pfp {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#content .team .pfp img {
    max-width: 350px;
}

#content .team .pfp h3 {
    line-height: 20px;
    padding: 10px 0px 0px 0px;
    margin: 0px;
    font-size: 17px;
    -webkit-text-stroke: 1px #ccdd00;
    text-shadow: 0px 0px 15px #ccdd00;
    border-radius: 50px;
}

#team h5 {
    font-size: 17px;
    font-weight: 400;
    text-shadow: 1px 1px 2px #666,
                 -1px -1px 2px #333;
    line-height: 15px;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(
        to right,
        rgba(16,2,41,1),
        rgba(180,80,150,1)
    );
    border: 2px ridge rgba(96,9,121,1);
}

/* footer */

#footer {
    z-index: 5;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: -100px;
    height: 45px;
    opacity: 0.8;
    border-top: 1px solid #b4f4ee;
    background-color: #2d3236;
    transition: bottom .3s, opacity .6s;
}

.icons {
    position: fixed;
    bottom: 0px;
    right: 8px;
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: bottom .5s, opacity .3s ease .5s, visibility .1s;
}

.icons img {
    width: 22px;
    margin: 2px;
    padding: 3px;
    border-radius: 50px;
    box-shadow: 0px 0px 0px 0px #84a4ce;
    opacity: 0.8;
    transition: box-shadow .1s, opacity .3s;
}

.icons a:hover img {
    box-shadow: 0px 0px 3px 1px #b4f4ee;
    opacity: 1;
}

/* keyframes */

@keyframes blink {
    50% {opacity: 0;}
}

@keyframes lasr-ring {
    0% {transform: rotate(45deg);}
    100% {transform: rotate(405deg);}
}



.lasr {
    animation: skew-3d 3s linear infinite alternate,
               rotateX 3s linear infinite;
}

.showcase {
    animation: rotateY 3s linear infinite;
}

.showcase:hover {
    animation: rotateX 3s linear infinite;
}

@keyframes skew-3d {
    0% {
        transform: skew(3deg,3deg);
    }
    100% {
        transform: skew(15deg,15deg);
    }
}

@keyframes rotateY {
    0% {
        transform: rotateX(0deg);
        transform: rotateY(0deg);
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateX(0deg);
        transform: rotateY(360deg);
        transform: rotateZ(0deg);
    }
}

@keyframes rotateX {
    0% {
        transform: rotateX(0deg);
        transform: rotateY(0deg);
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(180deg);
        transform: rotateY(0deg);
        transform: rotateZ(0deg);
    }
}
