/* --< imports >-- */
@import url('https://fonts.googleapis.com/css2?family=Gill+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono:400');
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

/* --< document >-- */
html {
    scroll-behavior: smooth;
}

body {
    --bg: #2d3236;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
    font-size: 17px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* full-width, no margin */
html, body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    display: inline-block;
    letter-spacing: 10px;
    color: #fff;
    -webkit-text-stroke: 1px #fff;
    cursor: default;
}

p {
    font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input[type=text],
input[type=number],
input[type=button],
input[type=submit],
input[type=reset],
button {
    background-color: transparent;
    color: #fff;
}

input[type=text],
input[type=number] {
    border: 1px solid #fff;
}

input:not([type='button']),
input + label {
    font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

input[type=text],
input[type=number] {
    border-radius: 6px;
    transition: 300ms;
}

input[type=text]:focus,
input[type=number]:focus {
    outline: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button, input[type=button], input[type=submit], input[type=reset] {
    border: none;
    border-radius: 3px;
    padding: 16px 32px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

button.disabled:hover span {
    display: none;
}

button.disabled:hover:before {
    content: "Coming soon";
}

/* placeholders must be defined separately */
::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9ea1a2;
}

::-webkit-input-placeholder { /* Old Chrome */
    color: #9ea1a2;
}

::-moz-placeholder, /* Old Firefox */
:-ms-input-placeholder, /* Internet Explorer 10-11 */
::-ms-input-placeholder { /* Microsoft Edge */
    color: #9ea1a2;
}

/* --< text selection >-- */

::selection {
    color: #212d3b;
    background-color: #a1bfde;
}

button::selection, input::selection {
    color: #212d3b;
    background-color: #a1bfde;
}

/* --< modules >-- */

.click {
    cursor: pointer !important;
}

/* --< icons >-- */

.arrow,
.arrow.double:after {
    display: inline-block;
    padding: 3px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
}

.arrow.logo,
.arrow.down {
    transform: rotate(45deg);
}

#navbar .arrow.logo {
    transform: rotateZ(45deg) rotateY(30deg);
}

.arrow.left {
    transform: rotate(135deg);
}

.arrow.right {
    transform: rotate(-45deg);
}

.arrow.nav,
.arrow.double:after {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-width: 0 1px 1px 0;
}

.arrow.double:after {
    content: '';
    margin: 5px;
}

p .arrow:not(.nav) {
    margin: 0 10px 0 5px;
}

p .arrow:not(.nav) {
    position: relative;
    bottom: .1em;
}

p .arrow.nav {
    position: relative;
    bottom: -0.7em;
    margin: 0 15px 0 0;
}

p .arrow.nav,
p .arrow.double:after {
    width: .6em;
    height: .6em;
    padding: 0;
}

.arrow.nav:hover {
    animation: blink 1.5s infinite .1s;
}

.arrow.logo {
    min-width: 1em;
    min-height: 1em;
    border-radius: 50%;
    border-width: 0 3px 3px 0;
}

.arrow.logo.dark {
    border: solid #000;
    border-width: 0 3px 3px 0;
}

.arrow.logo.tiny {
    border-width: 0 4px 4px 0;
    border-radius: 250%;
}

.arrow.logo.full {
    width: 80%;
    height: 80%;
    box-shadow: 0px 0px 0px 0px #fea;
    transition: width 1s, height 1s, box-shadow .3s .3s;
}

a:hover .arrow.logo.full {
    box-shadow: 0px 0px 1px 2px #edd;
}

.thin a:hover .arrow.logo.full {
    box-shadow: 0px 0px 1px 1px #edd;
}

.lasr {
    animation: rotateY 10s linear infinite;
    transition: width 3s, height 3s;
}

/* --< components >-- */

.progress.dots:after, .progress .dots:after {
    content: '...';
    animation: prog-dots-anim-glitch 2s linear infinite;
}

.what-is-this {
    font-size: .8em;
    font-weight: 500;
    padding: 0 8px;
    border: 1px solid #dffa;
    border-radius: 50px;
    background: #dff1;
}

.what-is-this .hover:before {
    content: '?';
    opacity: 0.8;
    transition: margin .4s, opacity .4s;
}

.what-is-this:hover .hover:before {
    content: 'What is this ?';
    margin-left: 5px;
    opacity: 1;
}

/* --< filters >-- */

.retro {
    -webkit-filter: brightness(120%) saturate(120%) grayscale(20%) contrast(120%);
    filter: brightness(120%) saturate(120%) grayscale(20%) contrast(120%);
}

.steampunk {
    -webkit-filter: hue-rotate(-100deg) brightness(120%) saturate(120%) grayscale(20%) contrast(120%);
    filter: hue-rotate(-100deg) brightness(120%) saturate(120%) grayscale(20%) contrast(120%);
}

.vintage {
    -webkit-filter: hue-rotate(-180deg) brightness(120%) saturate(120%) grayscale(80%) contrast(120%);
    filter: hue-rotate(-180deg) brightness(120%) saturate(120%) grayscale(80%) contrast(120%);
}

.mild {
    -webkit-filter: hue-rotate(-40deg) brightness(80%) saturate(120%) grayscale(18%) contrast(80%);
    filter: hue-rotate(-40deg) brightness(80%) saturate(120%) grayscale(18%) contrast(80%);
}

.lights-out {
    -webkit-filter: hue-rotate(45deg) contrast(170%);
    filter: hue-rotate(45deg) contrast(170%);
}

/* --< desktop >-- */

@media screen and (min-width: 1100px) {
    h1 {
        font-size: 72px;
        font-weight: bold;
    }

    #navbar .lasr {
        margin: 40% 0 0 20%;
    }

    .section .title {
        font-size: 60px;
    }

    #container {
        margin: 25px 0px;
        padding: 60px;
    }

    #content {
        gap: 5vw;
    }

    #content .caption {
        flex-flow: row nowrap;
        align-items: flex-start;
        gap: 12px;
        margin: 12px 0px;
    }

    #content .note.active {
        margin: -14% -6%;
        padding: 5px;
        border: 1px solid #fff;
    }

    .card-wrap {
        padding: 35px;
    }

    #content .card {
        max-width: 50%;
    }

    #content .bank {
        min-width: 24vw;
        padding: 75px 45px;
    }

    #content .bank .textbox input[type=text] + label,
    #content .bank .textbox input[type=number] + label {
        position: absolute;
        right: 15px;
    }

    #content .bank .textbox input[type=text] + label.inset,
    #content .bank .textbox input[type=number] + label.inset {
        position: absolute;
        right: 65px;
    }

    #content .bank .textbox button.inset {
        position: absolute;
        right: 15px;
        padding: 6px;
    }

    #content .team {
        flex-flow: row nowrap;
    }

    #content img, .nft {
        width: 350px;
    }
}

/* --< mobile >-- */

@media screen and (max-width: 1100px) {
    /* horizontal */
    @media screen and (orientation: landscape) {
        .section .title {
            font-size: 10vw;
        }
    }

    /* vertical */
    @media screen and (orientation: portrait) {
        .section .title {
            font-size: 50px;
        }
    }

    h1 {
        font-size: 10vw;
        font-weight: bold;
    }

    #navbar {
        flex-direction: column;
    }

    #navbar .lasr {
        width: 10%;
    }

    #navbar button:not(:first-child) {
        display: none;
    }

    #navbar button.icon {
        display: block;
        font-size: 15px;
    }

    #navbar.dropdown {
        padding: 10px;
        background: #111;
    }

    #navbar.dropdown button {
        float: none;
        display: block;
        text-align: left;
    }

    #nav-container #wallet.dropdown {
        width: 20%;
    }

    #nav-container #wallet.dropdown button {
        width: 100%;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    #container {
        margin: 80px 0px;
        padding: 60px 5vw;
    }

    #content {
        flex-flow: column nowrap;
    }

    #content h1 {
        margin: 0;
    }

    #content .text {
        order: -1;
    }

    #content .text article {
        max-width: 100vw;
    }

    #content p {
        line-height: 5px;
    }

    #content img, .nft {
        order: 1;
        max-width: 80vw;
        max-height: 80vh;
    }

    #content img, .nft {
        position: relative;
        top: 5px;
    }

    .card-wrap {
        padding: 35px;
    }

    #content .caption {
        order: 2;
        flex-flow: row wrap;
        align-items: flex-start;
    }

    #content .note.active {
        margin: -10% 0%;
        padding: 5px;
        text-decoration: underline;
    }

    #content .bank {
        min-width: 35vw;
        padding: 55px 25px;
    }

    #content .bank .textbox input[type=text] + label,
    #content .bank .textbox input[type=number] + label {
        position: absolute;
        right: 65px;
    }

    #content .bank .textbox button.inset {
        position: absolute;
        right: 14px;
        padding: 5px;
    }

    #content .team {
        flex-flow: row wrap;
    }
}

/* --< footer >-- */

#footer {
    z-index: 10;
    position: relative;
    bottom: 2vh;
    left: 0;
    right: 0;
    height: 0;
    transition: top .4s, opacity .2s;
}

#home.active ~ #footer {
    display: none;
}

/* --< nav >-- */

#nav-container {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 2vh;
    margin: 0px 10px;
}

#nav-container button {
    display: flex;
    align-items: center;
    border: none;
    color: #b6f6f0;
    font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
    border-radius: 4px;
}

#navbar {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#navbar button {
    padding: 0 17px;
    margin: 0 2px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50px;
}

#navbar button:not([disabled]):hover {
    color: #2d3236;
    background-color: #b4f4ee;
}

#navbar button:disabled:hover {
    cursor: default;
}

#navbar button:nth-child(3):hover:after {
    width: 130px;
    transform: translate(-2.5%, 0%);
}

#navbar button.home:hover {
    background: none;
}

#navbar .icon {
    display: none;
}

/* --< wallet >-- */

#wallet {
    position: absolute;
    right: 0;
}

.wallet-adapter-button {
    border-radius: 6px !important;
}

/* --< sections container >-- */
.section {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;

    min-height: 100vh;
    min-width: 100vw;
}

.section:not(.active) {
    display: none;
}

.section .title {
    display: inline-block;
    color: #fff;
    font-family: 'Lato', 'DM Sans', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    letter-spacing: 10px;
    cursor: default;
}

.section .title span {
    background: -webkit-linear-gradient(#fff, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 0;
    transition: all 1s;
}

.section .title span::selection {
    -webkit-text-fill-color: #fbb;
}

.section .title a {
    text-shadow: 0px 0px 25px #fec;
}

.section .title i,
.section .title .arrow {
    transition: all 1s;
}

.section .title a:hover {
    line-height: 0;
    font-size: 1.1em;
    letter-spacing: .2em;
    text-shadow: 0px 0px 7px #fec;
}

.section .title a:hover i,
.section .title a:hover .arrow,
.section a:hover .arrow.logo {
    border: solid #ffd;
    border-width: 0 4px 4px 0;
    animation: lasr-ring 1.2s ease .3s 1;
}

/* --< transitions >-- */

.section.active#astronauts p,
.section.active#buds p {
    animation: in-from-bottom .3s ease 1;
}

.section.active#astronauts h1,
.section.active#buds h1 {
    animation: in-from-left .2s ease 1;
}

.section.active .bank {
    animation: in-from-right .2s ease 1;
}

.section.active img {
    animation: in-from-right 1s ease 1;
}

@keyframes in-from-bottom {
    0%, 70% {margin-top: 200vh;}
    100% {margin-top: 0;}
}

@keyframes in-from-left {
    0%, 70% {margin-right: 200vw;}
    100% {margin-right: 0;}
}

@keyframes in-from-right {
    0%, 70% {margin-left: 200vw;}
    100% {margin-left: 0;}
}

/* --< layers >-- */

.fg {
    pointer-events: none;
}

.sticky {
    position: fixed;
}

/* --< backgrounds >-- */

body {
    background: radial-gradient(
        ellipse at bottom,
        #1b2735 0%,
        #090a0f 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg {
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
}

.blue.bg {
    background: #112;
}

.grey.bg {
    background: radial-gradient(
        ellipse at bottom,
        #0d1d3133,
        #1123,
        #0c0d1333,
        #0d1d3133
    );
}

/* container */

#container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 0;
    min-height: 90vh;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    overflow: hidden;
}

/* content */

#content {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 0 3vw;
    padding: 0 3vw;

    overflow-wrap: break-word;
    word-wrap: break-word; /* backward compatibility */
}

#content a {
    color: #fff;
}

#content .text {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 0 5vw;
    min-width: min-content;
    max-width: 1000px;
}

#content article {
    position: relative;
}

@media screen and (min-width: 900px) {
    #content article {
        margin: -100px;
        padding: 100px;
    }
}

@media screen and (max-width: 900px) {
    @media screen and (min-width: 400px) {
        #content article {
            margin: -10vw;
            padding: 10vw;
        }
    }

    @media screen and (max-width: 400px) {
        #content article {
            margin: -50px;
            padding: 50px;
        }
    }
}

#content h1 {
    margin: 15px;
    text-align: center;
    white-space: nowrap;
}

#content h4 {
    display: inline;
    text-shadow: 3px 2px 1px rgba(225,0,125,0.5);
}

#content strong {
    color: #96ff9b;
    font-weight: 500;
    letter-spacing: .1rem;
}

#content p {
    position: relative;
    line-height: 30px;
    text-align: justify;
    padding: 3px;

    overflow: hidden;
    cursor: default;
}

#content p a,
#content a.nav {
    --blue: #a0ebfecc;
    --brightblue: #70ebde;
    --dimblue: #90ebdecc;
    --greyblue: #b0ebdecc;

    --link-fg: var(--dimblue);
    --link-hover: var(--brightblue);

    color: var(--link-fg);
    font-weight: 900;
    line-height: 0;
    overflow-wrap: break-word;
    word-wrap: break-word; /* backward compatibility */

    transition: -webkit-text-stroke .4s,
                -webkit-text-fill-color .4s,
                color .4s,
                background-position .4s;
    -webkit-text-stroke: 1px #fff0;
}

#content a.nav {
    letter-spacing: 2px;

    background:
        linear-gradient(
            65deg,
            var(--link-fg) 0%,
            var(--link-fg) 68%,

            #10105053 70%,
            #dde 75%,

            #10105053 80%,
            var(--link-fg) 100%
        );

    background-size: 300% 100%;
    background-position: 0% 100%;
    background-repeat: no-repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#content p a:hover {
    color: var(--link-hover);
    -webkit-text-fill-color: var(--link-hover);
    -webkit-text-stroke: 1px #90ebdecc;
}

#content a.nav:hover {
    background-position: 400% 100%;
    -webkit-text-stroke: 2px #90ebdecc;
}

#content a.nav::selection {
    -webkit-text-fill-color: #212d3b;
}

#content a.inactive {
    color: rgba(0,120,90,1);
    cursor: default;
    transition: all .1s;
}

#content input[type=text]:not(:focus),
#content input[type=number]:not(:focus) {
    cursor: default;
}

#content .more {
    height: 20px;
    line-height: 1em;
    border-bottom: 1px dotted #333;
}

#content label.data {
    padding: 12px;

    font-size: 16px;
    font-weight: 200;
    letter-spacing: .2rem;
    word-spacing: 10px;

    border: 1px solid #fff;
    border-radius: 5px;
}

#content .footnote {
    position: absolute;
    bottom: 0;
    right: 1px;
    padding: 10px;
    opacity: .8;
}

#content .footnote:hover {
    opacity: 1;
}

/* menu */

.menu {
    --menu-padding: 10px;

    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;

    width: 220px;
    min-height: 220px;
    padding: 20px var(--menu-padding);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    gap: 10px;

    background: #3d202988;
    -webkit-backdrop-filter: saturate(80%) hue-rotate(20deg) brightness(80%) contrast(80%) grayscale(20%) blur(10px);
    backdrop-filter: saturate(80%) hue-rotate(20deg) brightness(80%) contrast(80%) grayscale(20%) blur(10px);
}

.menu.hidden {
    left: 0;
    padding: 0;
    width: 0;
}

.menu button {
    line-height: 0;
    text-transform: uppercase;
    color: #111;
    background: transparent;
}

.menu button.active,
.menu button.icon {
    height: 58px;
    font-size: 18px;
    border-radius: 15px;
}

.menu button:not(.active):not(.icon) {
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
    text-align: left;
    transition: padding .2s;
}

.menu button:not(.active):not(.icon):not(:hover) {
    padding: 20px 25px;
}

.menu button:hover {
    background: #442d33;
}

.menu button:active,
.menu:not(.hidden) button.active,
.menu #menu-lights.out {
    background: #742d3393;
}

.menu .top-bar {
    position: absolute;
    top: var(--menu-padding);
    width: calc(100% - var(--menu-padding) * 2);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu.hidden .icon,
.menu button.sticky:not(.active) {
    display: none;
}

.menu:not(.hidden) .icon,
.menu button.sticky.active {
    display: block;
}

.menu button.sticky.active {
    border: 1px solid #442d33;
}

.menu:not(.hidden) .icon.north,
.menu button.sticky.active {
    top: 15px;
}

.menu:not(.hidden) .icon.west,
.menu button.sticky.active {
    left: 15px;
}

.menu:not(.hidden) .icon.east {
    right: 15px;
}

.menu:not(.hidden) .icon.lightbulb span {
    -webkit-filter: hue-rotate(-100deg);
    filter: hue-rotate(-100deg);
}

.menu:not(.hidden) .icon {
    min-width: 5vw;
    padding: 20px;
}

.menu button.sticky.active {
    min-width: 10vw;
    white-space: nowrap;
}

.menu.hidden button:not(.sticky) {
    display: none;
}

.menu:not(.hidden) button.sticky {
    display: none;
}

/* move */

.move-section .card-wrap:not(.active),
.move-section:not(.active) {
    display: none;
}

.move .move-nav {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#roadmap .move .card article {
    padding-bottom: 50px;
}

.move .move-nav button {



    /* style buttons */



}

/* tabs */

#tabs-container {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
}

#tabs-bar {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
}

#tabs-bar button {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 0px;
    color: #b6f6f0;
}

#tabs-bar button:first-child {
    border-radius: 5px 0px 0px 0px;
}

#tabs-bar button:last-child {
    border-radius: 0px 5px 0px 0px;
}

#tabs-bar button:not(.active) {
    border: 1px solid #fff;
}

#tabs-bar button.disabled:active {
    color: #2d3236;
}

.tab:not(.active) {
    display: none;
}

.tab.active {
    display: flex;
    flex-flow: column nowrap;
    gap: inherit;
    position: relative;
    top: 16px;
    padding: 0px 5px;
}

/* nft */

.nft, .caption {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    text-transform: uppercase;
}

.nft {
    flex-flow: column nowrap;
    justify-content: space-evenly;
    gap: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word; /* backward compatibility */
}

.nft img, img.nft {
    border: 1px solid #3d3256;
    border-radius: 50px;
    margin: 5px 10px;
}

#content .caption,
#content .caption .column,
#content .caption .column p {
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fefe;
}

.caption .column {
    flex-flow: column wrap;
    align-items: center;
    gap: 5px;
}

.caption .column p {
    margin: 0px;
}

/* note */

#content .note.active {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 107%;
    height: 2em;
    font-size: .7em;
    letter-spacing: 1px;
}

.tab .note {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 1em;
}

#dep-account-note,
#dep-amount-note,
#withd-balance-note,
#withd-amount-note {
    visibility: hidden;
}

/* --< cards >-- */

.card-wrap,
.card,
.card ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    min-width: 35vw;
}

.card-wrap {
    position: relative;
    padding: 20px 10px;
    height: 100vh;
    overflow: hidden;
}

.card, .card * {
    -webkit-filter: saturate(180%) hue-rotate(20deg) brightness(180%) contrast(120%) grayscale(20%);
    filter: saturate(180%) hue-rotate(20deg) brightness(180%) contrast(120%) grayscale(20%);
}

#cyberverse .card {
    height: 60vh;
    border: 2px dotted #0111;
    -webkit-backdrop-filter: saturate(360%) hue-rotate(40deg) brightness(360%) contrast(240%) grayscale(40%);
    backdrop-filter: saturate(360%) hue-rotate(40deg) brightness(360%) contrast(240%) grayscale(40%);
}

#roadmap .card {
    width: 85vw;
    min-height: 65vh;
    border: 2px solid #0ffd;
    border-top: none;
    border-radius: 1px 1px 10px 10px;
}

.card p, .card strong {
    -webkit-filter: saturate(180%) hue-rotate(20deg) brightness(180%) contrast(120%) grayscale(20%);
    filter: saturate(180%) hue-rotate(20deg) brightness(180%) contrast(120%) grayscale(20%);
}

.card h1 {
    width: 100%;
    -webkit-filter: saturate(440%) hue-rotate(30deg) brightness(300%) contrast(285%);
    filter: saturate(440%) hue-rotate(30deg) brightness(300%) contrast(285%);
}

.card.locked {
    -webkit-filter: saturate(110%) hue-rotate(30deg) brightness(100%) contrast(85%);
    filter: saturate(110%) hue-rotate(30deg) brightness(100%) contrast(85%);
}

#roadmap .card article {
    margin: 0;
    padding: 20px;
    height: 100%;
}

.card h3 {
    margin: 0;
    padding: 8px 0 10px 0;
    width: 100%;

    text-align: center;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1vw;
    text-transform: uppercase;

    color: #fff3;
    background: #2105;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans;

    border: 2px solid green;
    border-radius: 1px 1px 0 0;
    cursor: default;
}

.card ul {
    width: 100%;
    margin: 0;
    padding: 6px 18px;
    list-style-type: none;
}

.card p,
.card li {
    margin: 0;
    width: 100%;
    line-height: 1.5em;
    text-align: justify;

    color: #ccc;
    font-size: 14px;
    font-family: "pixelfont", "JetBrains Mono", "Roboto Mono", "Lato",
                 "Helvetica Neue", "Helvetica", "Arial", sans;
}

/* --< closed >-- */

#roadmap .card-wrap.closed .card {
    justify-content: flex-start;
    height: 60px;
    max-height: 60px;
    min-height: 0;
    border-width: 0;
    overflow: hidden;
}

#roadmap .card-wrap.closed article,
#roadmap .card-wrap.closed p,
#roadmap .card-wrap.closed .move-nav {
    height: 0;
    max-height: 0;
    min-height: 0;
    visibility: hidden;
}

.card-wrap,
.card,
.card article,
.card p {
    transition: margin .4s,
                padding .4s,
                height .1s,
                max-height .1s,
                visibility 0s .2s,
                border-width 0s .2s;
}

/* --< sections >-- */
/* --< home >-- */

#home {
    position: relative;
    width: 100%;
    height: 100%;
}

#home .title {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -60px;
    padding-left: 10px;
    transition: all 1s, top .5s;
}

/* --< astronauts >-- */

#astronauts h1 {
    background: linear-gradient(#fff5 0%, #b4f4eedd 10%, #3ad, #112, #3ad 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* --< buds >-- */

#buds h1 {
    background: linear-gradient(135deg, #f3ad70 40%, #edd6f3 53%, #ffd690cc 63%, #fdd6f399 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* --< bank >-- */

#bank .bg,
.bank .bg {
    background-color: var(--bg);
}

#bank h1 {
    background: linear-gradient(178deg, #fff0 0%, #b4f4eebb 20%, #38495a22);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#content .bank-container,
#content .bank {
    position: relative;
}

#content .bank-container {
    padding: 1.6em 0;
}

#content .bank {
    border: 1px solid #fff;
    border-radius: 5px;
}

#content .bank button {
    color: #b4f4ee;
    font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

#content .bank .textbox {
    display: flex;
    align-items: center;
}

#content .bank .textbox input[type=text],
#content .bank .textbox input[type=number] {
    flex-grow: 1;
    padding: 15px 85px 12px 10px;
    width: 100%;

    border-radius: 5px;
}

#content .bank .textbox input[type=text] + label,
#content .bank .textbox input[type=number] + label {
    opacity: 0.5;
    font-size: 17px;
    color: #fff;
    transition: opacity .1s;
}

#content .bank .textbox input[type=text]:focus + label,
#content .bank .textbox input[type=number]:focus + label {
    opacity: 1;
}

#content .bank .textbox input[type=text]:disabled,
#content .bank .textbox input[type=number]:disabled {
    background-color: rgba(130,120,100,0.5);
}

#content .bank button.submit {
    border: 1px solid #fff;
}

#content .bank button:not([disabled]).submit:active {
    color: #2d3236;
    background-color: #b4f4ee;
}

#content .bank button:disabled {
    cursor: default;
}

#content .bank button:disabled:hover span {
    display: none;
}

#content .bank button:disabled:hover:before {
    content: "You have to connect your wallet";
}

#content .bank {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

/* --< cyberverse >-- */

#cyberverse #container {
    background: radial-gradient(
        100% 65% at top,
        #83448544 0%,
        #13445503 70%,
        #53449521 100%
    );

    -webkit-filter: hue-rotate(20deg) saturate(180%) brightness(120%) contrast(120%);
    filter: hue-rotate(20deg) saturate(180%) brightness(120%) contrast(120%);

    position: relative;
    min-height: 100vh;
}

#cyberverse h1 {
    background: linear-gradient(2deg, #fff2 0%, #d4f4fe66 12%, #b4f4ee44 24%, rgba(156,36,106,0.6) 60%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#cyberverse .logo {
    min-width: 18vw;
    min-height: 18vw;
    border-width: 0 9px 9px 0;
    border-radius: 50%;
    border-color: rgba(235,205,185,.8);
}

/* --< roadmap >-- */

#roadmap {
    z-index: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
}

#roadmap strong {
    color: #942d33;
}

#roadmap #container,
#roadmap #content {
    padding: 0;
    margin: 0;
}

#roadmap #content {
    justify-content: space-evenly;

    height: 100%;
    width: 100%;
    box-sizing: border-box;

    border-radius: 2px;
    overflow: hidden;
}

.swipe-container {
    height: 100%;
}

.world.bg,
.world.full {
    background: url("./img/roadmap/world.jpg");
}

.vision.bg {
    background: url("./img/roadmap/vision.jpg");
}

.path.bg {
    background: url("./img/roadmap/path.jpg");
}

#roadmap .bg {
    width: 150%;
    background-size: cover;
    background-position: -25% 25%;
    background-repeat: no-repeat;
    -webkit-filter: brightness(45%) saturate(155%) contrast(35%) sepia(5%) hue-rotate(20deg) opacity(60%);
    filter: brightness(45%) saturate(155%) contrast(35%) sepia(5%) hue-rotate(20deg) opacity(60%);
}

/* --< team >-- */

#team #content h1, #team #content p {
    padding-left: 20px;
}

#content .team {
    display: flex;
    justify-content: space-evenly;
}

#content .team .pfp {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#content .team .pfp img {
    max-width: 350px;
}

#content .team .pfp h3 {
    line-height: 20px;
    padding: 10px 0px 0px 0px;
    margin: 0px;
    font-size: 17px;
    -webkit-text-stroke: 1px #ccdd00;
    text-shadow: 0px 0px 15px #ccdd00;
    border-radius: 50px;
}

#team h5 {
    font-size: 17px;
    font-weight: 400;
    text-shadow: 1px 1px 2px #666,
                 -1px -1px 2px #333;
    line-height: 15px;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(
        to right,
        rgba(16,2,41,1),
        rgba(180,80,150,1)
    );
    border: 2px ridge rgba(96,9,121,1);
}

/* hyper-icons */

.icons {
    position: fixed;
    bottom: 0px;
    right: 8px;
    cursor: default;
    opacity: 0;
    visibility: hidden;
    transition: bottom .5s, opacity .3s ease .5s, visibility .1s;
}

.icons img,
.icons i {
    box-shadow: 0px 0px 0px 0px #84a4ce;
    opacity: 0.8;
    transition: -webkit-filter .2s, filter .2s, opacity .3s;
}

.icons img {
    width: 22px;
    margin: 2px;
    padding: 3px;
    border-radius: 50px;
}

.icons i {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 7px 6px;
}

.icons a:hover img,
.icons a:hover i {
    -webkit-filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(226deg) brightness(106%) contrast(100%);
    filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(226deg) brightness(106%) contrast(100%);
    opacity: 1;
}

/* keyframes */

@keyframes blink {
    50% {opacity: 0;}
}

@keyframes lasr-ring {
    0% {transform: rotate(45deg);}
    100% {transform: rotate(405deg);}
}

@keyframes prog-dots-anim-glitch {
    0%, 92% {content: '.';}
    33% {content: '..';}
    66%, 88%, 95%, 100% {content: '...';}
    89% {content: 'レ';}
    90% {content: 'ン';}
    91% {content: 'ダリ';}
    93% {content: 'ン';}
    94% {content: 'グ';}
}

@keyframes rotateY {
    0% {
        transform: rotateX(0deg);
        transform: rotateY(0deg);
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateX(0deg);
        transform: rotateY(360deg);
        transform: rotateZ(0deg);
    }
}
